footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  height: 60px;
  margin-top: auto;

  @include mq($desktop-sm) {
    height: 100px;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    a {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      transition: 0.4s color ease;

      &:hover {
        color: rgba(0, 0, 0, 1);
      }

      @include mq($desktop-sm) {
        font-size: 1.1rem;
      }
    }
  }
}
