///-----------------------------------------------------------------------------///
/// Variables                                                                   ///
///-----------------------------------------------------------------------------///

// Padding and Margins
$mobile-container-padding: 25px;
$tablet-container-padding: 25px;
$small-laptop-container-padding: 30px;
$large-display-container-padding: 35px;

// Colours
$body-copy-color: rgba(0, 0, 0, 1);
$icon-bg-color: rgba(0, 0, 0, 1);

// Breakpoints
$tablet-mq: 768px;
$desktop-sm: 1024px;
$desktop-lg: 1280px;

// Border radius
$card-br: 20px;
$icon-br: 100%;
